@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-sans: 'Albert Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-dark-primary: #0E0F14;
  --color-light-primary: #D9DAD7;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
    box-sizing: border-box;
  }

  html, body {
    background-color: var(--color-dark-primary);
    color: var(--color-light-primary);
  }
}